{% extends 'blog/base.html' %}
{% block content %}
    {% for post in post_list %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">{{post.title }}</a></h2>
            <p>
            {% for category in post.category.all %}
            <span class="category">{{ category }}</span> 
            {% endfor %}
            </p>
            <p class="date">{{ post.published_date }}</p>
            <p>{{ post.text | safe | linebreaksbr | truncatewords:100 }}</p>
            <p><a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">Comments: {{ post.approved_comments.count }}</a> | 
                <a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">Read more</a></p>
        </div>
    {% endfor %}
    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a href="?page=1" class="btn mb-4">First</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="btn mb-4">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a href="?page={{ num }}" class="btn mb-4">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn mb-4">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn mb-4">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn mb-4">Last</a>
    {% endif %}
{% endif %}
{% endblock %}