html, body {
    font-size: 16px;
    margin: 20px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, .nav-link, .footer-text {
    font-family: Raleway, sans-serif;
}

h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
    padding-top: 20px;
}

.container-fluid {
    flex: 1 0 auto;
}

.navbar-brand {
    font-size: 2.3rem;
}

.nav-link {
    font-size: 1.2rem;
}

a {
    color: purple;
}

nav {
    border-bottom: 2px solid purple;
}

header {
    margin-bottom: 30px;
}

.navbar {
    padding-bottom: 0;
}

.greeting {
    display: inline-block;
}

.sidebar button {
    border: 1px solid purple;
    margin-bottom: 10px;
    width: 100%;
}

.save, .edit, .publish, .remove, .add-comment, .approve-comment, .remove-comment, .login-form .login {
    border: 1px solid purple;
}

.post-form input, textarea {
    width: 100%;
}

.login-form table {
    margin: auto;
}

.login-form input {
    margin: 5px;
}

.login-form .login {
    display: block;
    margin: 10px auto;
}

.social-media {
    text-align: right;
    font-size: 1.8rem;
}
.social-media a {
    padding: 0 10px;
}

.sidebar ul {
    list-style-type: none;
}

.post {
    padding-bottom: 30px;
}

.comment {
    padding-top: 10px;
}

footer {
    flex-shrink: 0;
    border-top: 2px solid purple;
    font-size: 1.2em;
    color: purple;
}
footer.row {
    margin: 0;

} 
 footer div {
     padding-top: 10px;
 }
